//
button {
    outline: none;
}

.facets-facet-browse-facets {
    box-shadow: none;
}

.header-main-nav {
    @media screen and (min-width: $screen-md-min) {
        display: none;
    }
}
.header-menu-locator {
    .storelocator-accesspoints-headerlink-link  {
        float: none;
        padding: 0;
        margin: 0;
        min-width: initial;
        .storelocator-accesspoints-headerlink-link-icon {
            display: block;
            color: $sc-header-link-text-color;
            margin-top: 1px;

            &:hover {
                color: $sc-header-link-hover-text-color;
            }
        }
        .storelocator-accesspoints-headerlink-link-text {
            display: none;
        }
    }
}
.header-sidebar-wrapper {
    background: $sc-color-primary;
}
.header-sidebar-links {
    margin-top: 0;
    padding-top: 30px;
}

.header-logo-nav-container {
    display: flex;
    //border: solid 1px red;
    height: 100px;
    transition: 0.2s;
}

@media screen and (min-width: $screen-md-min)  {
    .header-logo-nav-container  {
        .header-menu-profile {
            .kdl-header-profile-login-link  {
                &::before {
                    content: '';
                    background-color: $sc-header-icon-color;
                    -webkit-mask-image: url(getExtensionAssetsPath('img/profile-icon.svg'));
                    mask-image: url(getExtensionAssetsPath('img/profile-icon.svg'));
                    display: block;
                    width: 20px;
                    height: 20px;
                }
                .header-profile-menu-login {
                    display: none;
                }
                &:hover {
                    &::before {
                        background-color: $sc-header-icon-hover-color;
                    }
                }
            }
        }
        .header-menu-cart,
        .header-menu-search {
            border-left: 0;
            margin: 0;
        }

        .header-mini-cart-menu-cart-link  {
            line-height: initial;
            height: auto;
        }

        .header-menu-search-link {
            margin-top: 5px;
            float: left;
            line-height: initial;
        }
    }
    .header-right-menu-also  {
        align-items: center;
        & > div {
            padding: 0 10px;
        }
    }
}

@media screen and (max-width: $screen-sm-max)  {
    .header-right-menu .header-menu-locator  .storelocator-accesspoints-headerlink-link {
        margin-bottom: 6px;
        min-width: auto;
        padding: 0;
    }
    .storelocator-accesspoints-headerlink-link-icon {
        margin-top: -3px;
    }
    .header-menu-mobile-cart  {
        margin-left: 0;
    }
}

.header-menu-level-container {
    position: fixed;
    top: 77px;
    left: 0px;
    width: -webkit-fill-available;
    height: 300px;
    background-color: $sc-header-background-color;
    padding-top: 35px;
    padding-bottom: 35px;

    .header-menu-level2 {
        display: flex;
        justify-content: center;

        & > li {
            display: flex;
            margin-right: 20px;
            max-width: 350px;

            .header-menu-level-2-text {
                max-width: 200px;
                text-align: center;
            }
        }
    }
}

.header-logo {
    width: 140px;
    display: flex;
    justify-content: center;    
}

.header-logo-image {
    display: block;
    //max-width: $sc-mobile-header-logo-width - $sc-mobile-header-logo-left-padding; // for IE, see #106
    max-width: 135px;
    transition: 1s;

    //@media (min-width: $screen-sm-min) and (max-width: $screen-sm-max) {
    //    max-width: $sc-tablet-header-logo-width - $sc-mobile-header-logo-left-padding; // for IE, see #106
    //}

    //@media(min-width: $screen-md-min) {
    //    width: auto;
    //    max-width: $sc-desktop-header-logo-width; // for IE, see #106
    //}
    
}

.header-site-search {
    position: absolute;
}
