// KODELLA

.spacer-15 {
	padding: 15px;
}

.featuredcategorycct-header-container {
	margin-bottom: 30px;
}

.home-slider-container .home-image-slider .bx-wrapper {
	margin-bottom: 20px;
}

home-slider-container {
	margin-bottom: 20px;
}