/*
	Sass Application Entry Point
	Link all your sass dependencies in the right order

	Example:
	@import "other-sass-file.scss";
	@import "../../<other module>/Sass/other-sass-file.scss";
*/ 

.productcarousel-info-card {
    @extend .info-card;
}

.productcarousel-info-card-content {
    @extend .info-card-content;
    color: $sc-color-secondary;
    font-weight: bold;
}

  // PRODUCTS
  .kdl_cct_products {
    text-align: center;

    & > div {
      padding: 60px 6.7% 3.24% 6.7%;
      @media (max-width: 700px) {
        padding-bottom: 60px;
        padding-top: 0px;
      }

      .KDShopTheStoryHeader {
        padding-bottom: 20px;
        @media (max-width: 700px) {
          padding-bottom: 0px;
        }
      }
      .KDShopTheStoryTitle {
        font-size: 16px;
        line-height: 20px;
        text-align: center;
      }
      .kd-details {
        @extend .kd-heading-6;
        color: #49443e;
        font-size: 14px;
        .kd-details-designer {
          font-size: 10px;
          color: #49443e;
        }
        a:hover {
          span {
            color: #49443e;
          }
        }
      }
      .kd-details-designer {
        @extend .kd-heading-1;
      }
      .kd-detail-color {
        font-style: italic;
      }
      @media screen and (min-width: 320px) and (max-width: 760px) {
        .product-container {
          min-height: 280px;
        }
      }
    }
    .cta {
      margin-top: 10px;

      &:visited,
      &:hover,
      &:active,
      &:focus {
        color: #49443e !important;
      }
    }
  }

  .product-container {
    opacity: 1;
    transition: opacity 0.2s linear;
    @media (max-width: 700px) {
      opacity: 0.5;
    }
  }
  @media (max-width: 700px) {
    #cct-shop-products {
      .bx-wrapper {
        padding: 0px 10vw;
        .bx-pager-link {
          font-size: 2px !important;
          width: 5px !important;
          height: 5px !important;
          opacity: 0.3;
          margin: 0 10px !important;
          &.active {
            opacity: 1;
          }
        }
        .bx-pager-item {
          margin-top: 20px !important;
        }
      }
      .see-all-products {
        margin-top: 30px;
      }
      .active-slide {
        opacity: 1;
      }
    }
    .blogCarousel {
      margin-top: 50px;
      margin-bottom: 50px;
    }
  }
  .KDBestSeller {
    display: none !important;
  }
