/*
	Sass Application Entry Point
	Link all your sass dependencies in the right order

	Example:
	@import "other-sass-file.scss";
	@import "../../<other module>/Sass/other-sass-file.scss";
*/ 

.productcarousel-info-card {
    @extend .info-card;
}

.productcarousel-info-card-content {
    @extend .info-card-content;
    color: $sc-color-secondary;
    font-weight: bold;
}

.kdl-productslider-content {
	text-align: center;
	margin-bottom: 20px;
	position: relative;

	.kdlpc-slider {
		display: flex;
		flex-wrap: wrap;
		margin: 0;

		li {
			list-style: none;
			width: 25%;

			& > div {
				padding: 0 15px;
			}

			@media screen and (max-width: $screen-sm-max) {
				width: 50%;
			}

			a {
				margin-bottom: 15px;
				display: inline-block;
				clear: both;

				// img {
				// 	height: 100%;
				// 	width: auto;
				// 	max-height: 225px;
				// }

				&.kdlpc-text {
					// min-height: 44px;
				}
			}

			.kdl-price {
				font-size: 16px;
				font-weight: bold;
			}
		}
	}

	//Slider Arrows

	.kdl-next-icon,
	.kdl-prev-icon {
		position: absolute;
		width: 30px;
		height: 65px;
		top: 40%;
		// top: 50%;
		// transform: translateY(-50%);

		&:hover {
			&::before,
			&::after {
				background: $sc-button-primary-hover-background-color;
			}
		}
	}

	.kdl-prev-icon {
		left: 0;

		&::before,
		&::after {
			content: '';
			display: block;
			width: 30px;
			height: 3px;
			position: absolute;
			background: $sc-color-primary;
		}

		&::before {
			transform: rotate(-45deg);
			top: 21px;
		}

		&::after {
			transform: rotate(45deg);
			bottom: 21px;
		}
	}

	.kdl-next-icon {
		right: 0;

		&::before,
		&::after {
			content: '';
			display: block;
			width: 30px;
			height: 3px;
			position: absolute;
			background: $sc-color-primary;
		}

		&::before {
			transform: rotate(45deg);
			top: 21px;
		}

		&::after {
			transform: rotate(-45deg);
			bottom: 21px;
		}
	}

	.kdl-next-icon.disabled,
	.kdl-prev-icon.disabled {
		display: none;
	}

	.control-text {
		display: none;
	}
}