.order-wizard-confirmation-module {
	display: block;
	padding: 35px;
	background: #ffffff;
	border: 1px solid #0f0f0f;
	border-radius: $sc-border-radius;
	margin-bottom: $sc-margin-lv6;
}
.order-wizard-confirmation-module-title {
	color: #0f0f0f;
    margin: 0 0 10px;
    font-weight: 900;
    font-style: italic;
}
.order-wizard-confirmation-module-body {
	color: #0f0f0f;
}
.order-wizard-confirmation-module-continue {
	@extend .button-large;
	@extend .button-secondary;
	display:inline-block;
	margin-top: $sc-margin-lv3;
	margin-right: $sc-margin-lv4;
	background: #de6e4b;
    border: 1px solid #de6e4b;
}

.order-wizard-confirmation-module-download-pdf {
	@extend .button-large;
	@extend .button-tertiary;
	display:inline-block;
	margin-top: $sc-margin-lv3;
}