/*
	Sass Application Entry Point
	Link all your sass dependencies in the right order

	Example:
	@import "other-sass-file.scss";
	@import "../../<other module>/Sass/other-sass-file.scss";
*/ 

.homepage-info-card {
    @extend .info-card;
}

.homepage-info-card-content {
    @extend .info-card-content;
    color: $sc-color-secondary;
    font-weight: bold;
}

.hideAgeVerification {
	display: none !important;
}

.ageverification-box {
	background-color:rgba(255, 255, 255,0.4);
    width: 600px;
    margin: 0 auto;
    padding: 40px;
    border-radius: 5px;
}

.ageverification-info-card-content {
	margin-bottom: 30px;
}

.ageverification-info-card {
	text-align: center;
    position: fixed;
    left: 0;
    z-index: 1000;
    background: white;
    top: 0;
    width: -webkit-fill-available;
    height: -webkit-fill-available;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.ageverification-background {
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: absolute;
    top: 0;
    width: -webkit-fill-available;
    height: -webkit-fill-available;
    z-index: -1;
}

.ageverification-legal {
	margin: 10px 5px;
}

.ageverification-not-legal {
	margin: 10px 5px;
}