.global-views-breadcrumb-item-active {
	@extend .breadcrumb-item-active;
	font-size: 17px;
    font-weight: 700;
}

.global-views-breadcrumb-item {
	@extend .breadcrumb-item;
}

.global-views-breadcrumb-divider {
	@extend .breadcrumb-divider;	
}

.global-views-breadcrumb {
	@extend .breadcrumb;	
	font-size:14px;
	padding-left: 10px;
    padding-top: 10px;
}

.global-views-breadcrumb-divider-icon {
	@extend .breadcrumb-divider-icon;
}